body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("beige bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-container {
  position: relative;
  width: 600px;
  height: 750px;
}

.book-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.inner-border {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
}

.title {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 45px;
  font-weight: bold;
  color: darkslategray;
  z-index: 3;
}

.subtitle {
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(139, 74, 27);
  z-index: 3;
}

.edition {
  position: absolute;
  top: 270px;
  left: 25px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: darkslategrey;
  z-index: 3;
}

.top {
  position: absolute;
  top: 290px;
  left: 14px;
  width: 34%;
  border: 0;
  border-top: 3px solid rgb(7, 9, 9);
  z-index: 3;
}

.bottom {
  position: absolute;
  bottom: 70px;
  right: 22px;
  width: 29%;
  border: 0;
  border-top: 3px solid rgb(11, 3, 3);
  z-index: 3;
}

.author {
  position: absolute;
  bottom: 80px;
  right: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  color: #15010d;
  z-index: 3;

}
